.idea/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

*.DotSettings.user
.tools/
artifacts/
NxGraph.Serialization.Tests/TestResults
NxGraph.Tests/TestResults
upm/com.enzx.nxgraph/Runtime/**/*.dll
upm/com.enzx.nxgraph/Runtime/**/*.pdb
*.log
